#content-1, #content-2{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.points-new{
    width: 70px;
    height: 66.81px;
    background-color: #b3b3b3;
    border: 2px solid #000;
    filter:brightness(1);
}

#containerPointsPun{
    background-color: #C19A6B;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(7, 66.81px);
    justify-items: center;
    transform: rotate(180deg);

}
#containerDistribution{
    transition: all 3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.points-new:hover{
    cursor: pointer;
    filter:brightness(0.5);
}
.points-new:nth-child(1)::after  { content: "6"; }
.points-new:nth-child(2)::after  { content: "13"; }
.points-new:nth-child(3)::after  { content: "20"; }
.points-new:nth-child(4)::after  { content: "27"; }
.points-new:nth-child(5)::after  { content: "34"; }
.points-new:nth-child(6)::after  { content: "5"; }
.points-new:nth-child(7)::after  { content: "12"; }

.points-new:nth-child(8)::after  { content: "19"; }
.points-new:nth-child(9)::after  { content: "26"; }
.points-new:nth-child(10)::after { content: "33"; }
.points-new:nth-child(11)::after { content: "4"; }
.points-new:nth-child(12)::after { content: "11"; }
.points-new:nth-child(13)::after { content: "18"; }
.points-new:nth-child(14)::after { content: "25"; }

.points-new:nth-child(15)::after { content: "32"; }
.points-new:nth-child(16)::after { content: "3"; }
.points-new:nth-child(17)::after { content: "10"; }
.points-new:nth-child(18)::after { content: "17"; }
.points-new:nth-child(19)::after { content: "24"; }
.points-new:nth-child(20)::after { content: "31"; }
.points-new:nth-child(21)::after { content: "2"; }

.points-new:nth-child(22)::after { content: "9" }
.points-new:nth-child(28)::after { content: "15"; }
.points-new:nth-child(23)::after { content: "16"; }
.points-new:nth-child(24)::after { content: "23"; }
.points-new:nth-child(25)::after { content: "30"; }
.points-new:nth-child(26)::after { content: "1"; }
.points-new:nth-child(27)::after { content: "8"; }
.points-new:nth-child(28)::after { content: "15"; }

.points-new:nth-child(29)::after { content: "22"; }
.points-new:nth-child(30)::after { content: "29"; }
.points-new:nth-child(31)::after { content: "0"; }
.points-new:nth-child(32)::after { content: "7"; }
.points-new:nth-child(33)::after { content: "14"; }
.points-new:nth-child(34)::after { content: "21"; }
.points-new:nth-child(35)::after { content: "28"; }

.points-new{
    rotate: 180deg;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}
.points-new:nth-child(1)  { background-color: #ff0000; }
.points-new:nth-child(2)  { background-color: #008000; }
.points-new:nth-child(3)  { background-color:#FF6600; }
.points-new:nth-child(4)  { background-color: #ff0000; }
.points-new:nth-child(5)  { background-color: #FFFF00; }
.points-new:nth-child(6)  {  background-color: #00fa0c; }
.points-new:nth-child(7)  { background-color: #ff0000; }

.points-new:nth-child(8)  { background-color:#FF6600; }
.points-new:nth-child(9)  { background-color: #008000; }
.points-new:nth-child(10) { background-color: #ff0000; }
.points-new:nth-child(11) {  background-color: #00fa0c; }
.points-new:nth-child(12) { background-color: #FFFF00; }
.points-new:nth-child(13) { background-color: #ff0000; }
.points-new:nth-child(14) { background-color:#FF6600; }

.points-new:nth-child(15) { background-color: #008000; }
.points-new:nth-child(16) { background-color: #ff0000; }
.points-new:nth-child(17) { background-color: #00fa0c; }
.points-new:nth-child(18) { background-color: #FFFF00; }
.points-new:nth-child(19) { background-color: #ff0000; }
.points-new:nth-child(20) { background-color: #FF6600; }
.points-new:nth-child(21) { background-color: #008000; }

.points-new:nth-child(22) { background-color: #ff0000; }
.points-new:nth-child(23) { background-color: #00fa0c; }
.points-new:nth-child(24) { background-color: #FFFF00; }
.points-new:nth-child(25) { background-color: #ff0000; }
.points-new:nth-child(26) { background-color:#FF6600; }
.points-new:nth-child(27) { background-color: #008000; }
.points-new:nth-child(28) { background-color: #ff0000; }

.points-new:nth-child(29) { background-color: #FFFF00; }
.points-new:nth-child(30) { background-color: #00fa0c; }
.points-new:nth-child(31) { background-color: #FF6600; }
.points-new:nth-child(32) { background-color: #ff0000; }
.points-new:nth-child(33) { background-color: #008000; }
.points-new:nth-child(34) { background-color: #ff0000; }
.points-new:nth-child(35) { background-color: #00fa0c; }