#puesto-1{
    background: #D6AF36;
    filter: brightness(1.2);
}

#puesto-2{
    background: #D7D7D7;
}

#puesto-3{
    background: #A77044;
}
#graphImg{
    border-radius: 0.75rem;
    border: 10px solid #964B00;
    transition: transform 0.3s;
    transform: rotate(180deg);
}
#jugadaImg{
    transform: rotate(90deg);
}