# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.local
backend/passwords/Passwords_firebase_metro.json
backend/passwords/Passwords_firebase_puntos.json
backend/deteccion/__pycache__/detected_forms.cpython-313.pyc
backend/deteccion/__pycache__/__init__.cpython-313.pyc