/* Header.css */



.header {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: black;
  z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
}

.header .logo {
    background: #ff7c39;
    border-radius: 9999px;
    padding: 10px;
}
.header .logo:hover {
    background: #fc4b08;
    border-radius: 9999px;
    padding: 10px;
    cursor: pointer;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navigation .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

.navigation .nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s;
    padding: 5px
}

.navigation .nav-links li a:hover {
    background: #f0f0f0;
    border-radius: 8px;
}

.navigation .search-bar input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    margin-left: 2rem;
    font-size: 1rem;
    outline: none;
}

.cta-buttons {
    display: flex;
    gap: 1rem;
}

.cta-buttons button {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-buttons .login-button {
    background-color: #2980b9;
    color: white;
}

.cta-buttons .signup-button {
    background-color: #f39c12;
    color: white;
}

.cta-buttons button:hover {
    opacity: 0.8;
}

/* Hamburger Menu (Mobile) */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
}

.hamburger .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navigation.open {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #34495e;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

.navigation.open .nav-links {
    display: block;
    gap: 1rem;
}

.navigation.open .search-bar {
    display: none;
}
@media (max-width: 768px) {
    .navigation {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .cta-buttons {
        display: none;
    }
}
