
@keyframes mover {
  0%   { top: 0px; left: 0px; }
  1%   { top: 1px; left: 1px; }
  2%   { top: 2px; left: 2px; }
  3%   { top: 3px; left: 3px; }
  4%   { top: 4px; left: 4px; }
  5%   { top: 5px; left: 5px; }
  6%   { top: 6px; left: 6px; }
  7%   { top: 7px; left: 7px; }
  8%   { top: 8px; left: 8px; }
  9%   { top: 9px; left: 9px; }
  10%  { top: 10px; left: 10px; }
  11%  { top: 11px; left: 11px; }
  12%  { top: 12px; left: 12px; }
  13%  { top: 13px; left: 13px; }
  14%  { top: 14px; left: 14px; }
  15%  { top: 15px; left: 15px; }
  16%  { top: 16px; left: 16px; }
  17%  { top: 17px; left: 17px; }
  18%  { top: 18px; left: 18px; }
  19%  { top: 19px; left: 19px; }
  20%  { top: 20px; left: 20px; }
  21%  { top: 21px; left: 21px; }
  22%  { top: 22px; left: 22px; }
  23%  { top: 23px; left: 23px; }
  24%  { top: 24px; left: 24px; }
  25%  { top: 25px; left: 25px; }
  26%  { top: 26px; left: 26px; }
  27%  { top: 27px; left: 27px; }
  28%  { top: 28px; left: 28px; }
  29%  { top: 29px; left: 29px; }
  30%  { top: 30px; left: 30px; }
  31%  { top: 31px; left: 31px; }
  32%  { top: 32px; left: 32px; }
  33%  { top: 33px; left: 33px; }
  34%  { top: 34px; left: 34px; }
  35%  { top: 35px; left: 35px; }
  36%  { top: 36px; left: 36px; }
  37%  { top: 37px; left: 37px; }
  38%  { top: 38px; left: 38px; }
  39%  { top: 39px; left: 39px; }
  40%  { top: 40px; left: 40px; }
  41%  { top: 41px; left: 41px; }
  42%  { top: 42px; left: 42px; }
  43%  { top: 43px; left: 43px; }
  44%  { top: 44px; left: 44px; }
  45%  { top: 45px; left: 45px; }
  46%  { top: 46px; left: 46px; }
  47%  { top: 47px; left: 47px; }
  48%  { top: 48px; left: 48px; }
  49%  { top: 49px; left: 49px; }
  50%  { top: 50px; left: 50px; }
  51%  { top: 51px; left: 51px; }
  52%  { top: 52px; left: 52px; }
  53%  { top: 53px; left: 53px; }
  54%  { top: 54px; left: 54px; }
  55%  { top: 55px; left: 55px; }
  56%  { top: 56px; left: 56px; }
  57%  { top: 57px; left: 57px; }
  58%  { top: 58px; left: 58px; }
  59%  { top: 59px; left: 59px; }
  60%  { top: 60px; left: 60px; }
  61%  { top: 61px; left: 61px; }
  62%  { top: 62px; left: 62px; }
  63%  { top: 63px; left: 63px; }
  64%  { top: 64px; left: 64px; }
  65%  { top: 65px; left: 65px; }
  66%  { top: 66px; left: 66px; }
  67%  { top: 67px; left: 67px; }
  68%  { top: 68px; left: 68px; }
  69%  { top: 69px; left: 69px; }
  70%  { top: 70px; left: 70px; }
  71%  { top: 71px; left: 71px; }
  72%  { top: 72px; left: 72px; }
  73%  { top: 73px; left: 73px; }
  74%  { top: 74px; left: 74px; }
  75%  { top: 75px; left: 75px; }
  76%  { top: 76px; left: 76px; }
  77%  { top: 77px; left: 77px; }
  78%  { top: 78px; left: 78px; }
  79%  { top: 79px; left: 79px; }
  80%  { top: 80px; left: 80px; }
  81%  { top: 81px; left: 81px; }
  82%  { top: 82px; left: 82px; }
  83%  { top: 83px; left: 83px; }
  84%  { top: 84px; left: 84px; }
  85%  { top: 85px; left: 85px; }
  86%  { top: 86px; left: 86px; }
  87%  { top: 87px; left: 87px; }
  88%  { top: 88px; left: 88px; }
  89%  { top: 89px; left: 89px; }
  90%  { top: 90px; left: 90px; }
  91%  { top: 91px; left: 91px; }
  92%  { top: 92px; left: 92px; }
  93%  { top: 93px; left: 93px; }
  94%  { top: 94px; left: 94px; }
  95%  { top: 95px; left: 95px; }
  96%  { top: 96px; left: 96px; }
  97%  { top: 97px; left: 97px; }
  98%  { top: 98px; left: 98px; }
  99%  { top: 99px; left: 99px; }
  100% { top: 100px; left: 100px; }
}
#yellow{
    animation: mover 1s infinite;
}