#turno2{
    background: url("./FondoMultijugadorReverse.png");   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
    color: black;
}